body {
        font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.header-bg{
    height: 80px;
    width: 100%;
    background-color: #715093;
    color: #F1DC7B ;
}

.header-title{
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}

._row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

._col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

._stretch {
    flex: 1;
}

._spc{
    margin: 3px;
}

._spc-right{
    margin-right: 10px;
}

#root {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.user-name {
    margin-top: 7px;
}

.message-window {
    height: 400px;
    border-top: 1px solid lightgrey;
}

.scroll-div {
    overflow: auto;
}

.message-info {
    border-right: 1px solid lightblue;
    padding: 2px 5px;
}

.new-message {
    border-top: 1px solid lightgrey;
}
.others {
    width: 200px;
    border-left: 1px solid lightgrey;
}
/*--- Bootstrap overrides -----------------------------------------*/

.panel-footer{
    text-align: right;
}

.container {
    padding: 1px !important;
}

.modal-backdrop{
    z-index: 5 !important;
}

.less-pad {
    padding: 1px !important;
}